body{
    background-color: rgb(198, 192, 211, 0.5);
}
.container {
    max-width: 60%;
    margin: 0 auto;
}
.title {
    font-size: 4em;
}
.accordion__item {
    border-top: 0.1rem grey solid;
}
.accordion__title {
    font-size: 2rem;
    font-weight: bold;
}
.accordion__content img {
    max-width: 40%;
}
.accordion__title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: skyblue;
}
.accordion__icon {
    width: 5%;
    background-image: url(/cssBayan/assets/svg/contrastL.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    opacity: 0;
    transition: all 1.2s ease 0s;
}
.accordion__input {
    appearance: none;
}
.accordion__content {
    text-align: center;
}
.accordion__content img {
    max-height: 0;
    transition: all 1.2s ease-in;
}
.accordion__input:checked ~ .accordion__content img {
    max-height: 100vh;
    transition: all 1s ease 0s;
    
}
 .accordion__item:hover .accordion__title .accordion__icon  {
    transform: rotate(540deg);
}
.accordion__input:checked + .accordion__title {
    color: black;
}
.accordion__input:checked ~ .accordion__content:hover, .container:hover, .accordion__content:hover  {
    cursor: pointer;
}
.container:hover .accordion__title{
    color: black ;
}
.accordion__item:hover .accordion__content img {
    max-height: 100vh;
    transition: all 1s ease-in;
}

@media(hover:hover) {
    .accordion__container:hover  .accordion__title .accordion__icon {
        opacity: 1;
    }
   
}
@media(max-width:1180px) {
    .container {
        max-width: 70%;
    }
    .accordion__icon  {
        width: 6%;
        opacity: 1;
    }
    .title {
        font-size: 2rem;
    }
    .accordion__title {
        font-size: 1.5rem;
    }
    .accordion__content img {
        max-width: 50%;
    }
}
@media(max-width:620px) {
    .container {
        max-width: 90%;
    }
    .title {
        font-size: 1.5rem;
    }
    .accordion__title {
        font-size: 1rem;
    }
    .accordion__icon  {
        width: 8%;
        background-size: 1rem;
        opacity: 1;
    }
    .accordion__content img {
        max-width: 60%;
    }
}
